@(message: String)

<section id="top">
    <div class="wrapper">
        <h1>@message</h1>
    </div>
</section>

<div id="content" class="wrapper doc">

        <div class="row">

            <div class="col-md-12">
                <h2>Playing field</h2>
                <div style="border: #222222; border-radius: 2px;">
                    Field
                </div>
            </div>

            <div class="col-md-12">
                <h2>Possible Sets</h2>
                <div style="border: #222222; border-radius: 2px;">
                    Field
                </div>
            </div>

            <div class="col-md-12">
                <h2>Rack</h2>
                <div style="border: #222222; border-radius: 2px;">
                    Field
                </div>
            </div>

        </div>

</div>

