@(webSocketUrl: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil)

@main("Rummikub") {

    <section id="top">
        <div class="wrapper" style="align-content: center">
            <h1>Rummicup Scala Game</h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">

        <div class="panel">
            <h2 class="pane-heading">Playing field</h2>
            <div id="playingFieldPanel" class="actualField">
                <div id="playingFieldPanelContent">

                </div>
            </div>
        </div>

        <div class="panel">
            <h2 class="pane-heading">Possible Sets</h2>
            <div id="possibleSetsPanel" class="actualField">
                <div id="possibleSetsPanelContent">

                </div>
            </div>
        </div>

        <div class="panel">
            <h2 class="pane-heading">Possible Appends</h2>
            <div id="possibleAppendsPanel" class="actualField">
                <div id="possibleAppendsPanelContent">

                </div>
            </div>
        </div>

        <div class="panel">
            <h2 class="pane-heading">Rack</h2>
            <div id="rackPanel" class="actualField">
                <div id="rackPanelContent">

                </div>
            </div>
        </div>

        @Html(webJarsUtil.script("jquery.min.js"))
        @Html(webJarsUtil.script("jquery.flot.min.js"))
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/modernizr-3.5.0.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/hello.js")' data-url='@webSocketUrl'></script>
    </div>

}
