@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(webSocketUrl: String)(implicit webJarsUtil: org.webjars.play.WebJarsUtil)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Rummikub") {

    <section id="top">
        <div class="wrapper" style="align-content: center">
            <h1>Rummicup Scala Game</h1>
        </div>
    </section>

    <div id="content" class="wrapper doc">

        <div class="panel">
            <h2 class="pane-heading">Playing field</h2>

            <div id="plaingFieldPanel" class="actualField">

                <div class="tileSet">

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberDouble">12</h2>
                    </span>

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberDouble"style="color:black;">12</h2>
                    </span>

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberDouble" style="color:blue;">12</h2>
                    </span>

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberDouble" style="color:yellow;">12</h2>
                    </span>

                </div>

                <div class="tileSet">

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberSingle">7</h2>
                    </span>

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberSingle">8</h2>
                    </span>

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberSingle">9</h2>
                    </span>

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberDouble">10</h2>
                    </span>

                </div>

                <div class="tileSet">

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberSingle">1</h2>
                    </span>

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberSingle">2</h2>
                    </span>

                    <span class="tile">
                        <img id="openingImage" src="@routes.Assets.versioned("images/tile.png")" height="100" alt="">
                        <h2 class="tileNumberSingle">3</h2>
                    </span>

                </div>
            </div>

        </div>

        <div class="panel">
            <h2 class="pane-heading">Possible Sets</h2>
            <div id="possibleSetsPanel" class="actualField">

                Stone
            </div>
        </div>

        <div class="panel">
            <h2 class="pane-heading">Possible Appends</h2>
            <div id="possibleAppendsPanel" class="actualField">
                Stone
            </div>
        </div>

        <div class="panel">
            <h2 class="pane-heading">Rack</h2>
            <div id="rackPanel" class="actualField">
                Stone
            </div>
        </div>

        @Html(webJarsUtil.script("jquery.min.js"))
        @Html(webJarsUtil.script("jquery.flot.min.js"))
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/modernizr-3.5.0.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/hello.js")' data-url='@webSocketUrl'></script>
    </div>

}
